.contact{
    min-height: 80vh;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.contact h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    color: #333;
    font-weight: bold;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

textarea {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.toast {
    font-size: 1rem;
}

.toast-success {
    background-color: #28a745;
}

.toast-error {
    background-color: #dc3545;
}
